<%let fields = utils.getComponentFileds(componentName,data)-%>
<div class="container text-center">
  <br />
  <mat-card>
    <div class="heading">
      <h4><%=componentName%></h4>
    </div>
    <br /><br />
    <button mat-button (click)="navigatePage('Add', {})" class="btn primary add">
      Add Row
    </button>
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Red"
        #input
      />
    </mat-form-field>
    <br /><br />
    <div class="table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        #mytable
        class="my-table mat-elevation-z8"
        matSort
      >
<%fields.forEach(f =>{-%>
        <ng-container matColumnDef="<%=f.name%>">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <%=f.label%>
          </th>
          <td class="small" mat-cell *matCellDef="let element">
            {{element.<%=f.name%>}}
          </td>
        </ng-container>
<%})-%>

        <!-- Action Column -->
        <ng-container matColumnDef="edit" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <button
              class="btn btn-primary primary small"
              (click)="navigatePage('Update', element)"
            >
              Edit
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete" stickyEnd>
          <th mat-header-cell *matHeaderCellDef><p>Delete</p></th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <button
              class="btn btn-danger small"
              (click)="navigatePage('Delete', element)"
            >
              Delete
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 20, 40, 60]"></mat-paginator>
  </mat-card>
</div>
