<p-tabView>
<%tabLayoutData.forEach(t => {-%>
  <p-tabPanel header="<%=t.tabName%>">
<%t.sections.forEach(s => {-%>
  <div class="section">
    <form [formGroup]="<%=utils.pascalCase(s.sectionName)%>" class="example-form">
      <div class="heading"> <span><%=utils.pascalCase(s.sectionName)%></span> </div>
      <div class="ui-g">
<%s.elements.forEach(e => {-%>
        <%-utils.getUiElement("primeNg",e,layout.pattern)%>
<%})-%>
      </div>
    </form>
  </div>
<%})-%>
  </p-tabPanel>
<%})-%>
</p-tabView>
