.tab-heading {
  background-color: #1167b1;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.element {
  padding-top: 15px;
}

.section{
    margin-top: 25px;
}

.select{
  width: 400px;
  padding: 5px;
  background: lightgrey;
  margin-top: 10px;
}

.input{
  width: 400px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.checkbox {
  margin: 12px 0;
}

.checkbox-options {
  margin: 0 12px;
}

