<mat-tab-group>
<%tabLayoutData.forEach(t => {-%>
  <mat-tab label="<%=t.tabName%>"> 
    <mat-card>
<%t.sections.forEach(s => {-%>
  <div class="section">
    <mat-card-header class="tab-heading"><%=utils.pascalCase(s.sectionName)%></mat-card-header>
    <form [formGroup]="<%=utils.pascalCase(s.sectionName)%>" class="example-form">
      <div class="row">
<%s.elements.forEach(e => {-%>
        <%-utils.getUiElement("material",e,layout.pattern)%>
<%})-%>
      </div>
    </form>
  </div>
<%})-%>
    </mat-card>
  </mat-tab>
<%})-%>
</mat-tab-group>
